## Exploring data using Pandas

![Pandas](pandas.jpg)

So far we explored Python and a few native libraries. Now we will play a little to simplify our life with tools to conduct some **data analysis**.

**Pandas** is the most popular library (so far) to import and handle data in Python.

### Let's import some data from a CSV file

**When downloading my ipynb, remember to also get the `commits_pr.csv` file**

In [1]:
import pandas
cpr = pandas.read_csv("commits_pr.csv")

It became this easy to read a CSV file!!!
And more... Look at what my `cpr` is:

In [2]:
type(cpr)

pandas.core.frame.DataFrame

Yes! A DataFrame. And it reads really nice, look:

In [3]:
cpr
### We can use head() and tail() functions to see a bit less

            user    project_name     prog_lang  pull_req_number  num_commits
0          user1         php-src             C              122            1
1          user2     activeadmin          ruby             3325            1
2          user3   YouCompleteMe        python             2128            2
3          user4        requests        python             2663            1
4          user5         ipython        python             7901            1
5          user6  haste-compiler       haskell              407            1
6          user7         select2    javascript             1987            1
7          user8          django        python             8608            3
8          user9           folly           C++              206            1
9         user10          django        python             4745            2
10        user11   homebrew-cask          ruby             5561            1
11        user12        Chart.js    javascript             2116            1
12        user13           react    javascript             3753          115
13        user14      codecombat  coffeescript              348            1
14        user14      duckduckgo          perl               30            1
15        user15   ReactiveCocoa   objective-c             3253          250
16        user16      angular.js    javascript            12671          250
17        user17            node    javascript              606            1
18        user18        bacon.js  coffeescript              197            1
19        user19           drone            go             2067            1
20        user20         jenkins          java             1672            5
21        user21   SVProgressHUD   objective-c              663            1
22        user22      youtube-dl        python            11866            1
23        user23           godot             C             2395            1
24        user24        composer           php             4819            1
25        user25           folly           C++              125            2
26        user25           netty          java             3923            1
27        user26           rails          ruby            28265            1
28        user27            xbmc           C++             9635          250
29        user28           karma  coffeescript             1230            1
...          ...             ...           ...              ...          ...
42062  user36910        three.js    javascript            10155            2
42063  user36911          sentry        python              375            1
42064  user36912          jekyll          ruby             1837            1
42065  user36913   Mobile-Detect           php              563            1
42066  user36914         ipython        python             9386            1
42067  user36915         laravel           php             3708            7
42068  user36916        Chart.js    javascript             1005            1
42069  user36917      angular.js    javascript             8838            1
42070  user36918   MBProgressHUD   objective-c              225            1
42071  user36919     TrinityCore           C++            20139            3
42072  user36920    scikit-learn             C             4947            1
42073  user36921    scikit-learn             C             2847            1
42074  user36921          jekyll          ruby             5959            1
42075  user36922      fish-shell           C++             1639            1
42076  user36923            node    javascript             3135            2
42077  user36924          meteor    javascript             3934            8
42078  user36925           react    javascript             5722            1
42079  user36926     activeadmin          ruby             2735            1
42080  user36927      fish-shell           C++             1748            5
42081  user36928    coffeescript  coffeescript             2011            1
42082  user36929           Faker           php             1293            1
42083  user36930            Slim           php             1684            4
42084  user36931        brackets    javascript             7876            1
42085  user36932      angular.js    javascript             8799            1
42086  user36932        backbone    javascript             3452            1
42087  user36933            node    javascript            14285            1
42088  user36934           react    javascript             8762            2
42089  user36934           rails          ruby            27508            1
42090  user36935       cocos2d-x           C++            15047            1
42091  user36936            node    javascript             9508            2

[42092 rows x 5 columns]

Before moving forward... Explaining a little about this dataset.

This dataset represents a series of Pull Requests made to a subset of projects hosted by GitHub. We worked on this data to capture a specific type of contributor, which we called *casual contributor*. These contributors are known by having a single pull request accepted in a project and not coming back (i.e., they have no long-term commitment to the project).

In this specific dataset, you will find the following columns:

* `user`: represent a user in GitHub (anonymized here)
* `project_name`: the name of GitHub project in which the pull request was accepted
* `prog_lang`: programming language of the project
* `pull_req_num`: unique identifier of the pull request
* `num_commits`: number of commits sent within that specific pull request

### Some information about the dataframe

Dimensions/shape of the dataset (lines vs. columns)

In [4]:
cpr.shape

(42092, 5)

What about the column names?

In [5]:
cpr.columns

Index(['user', 'project_name', 'prog_lang', 'pull_req_number', 'num_commits'], dtype='object')

And the datatype per column?

In [6]:
cpr.dtypes

user               object
project_name       object
prog_lang          object
pull_req_number     int64
num_commits         int64
dtype: object

Some more information: `info()` method prints information including the index dtype and column dtypes, non-null values and memory usage.

In [7]:
cpr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42092 entries, 0 to 42091
Data columns (total 5 columns):
user               42092 non-null object
project_name       42092 non-null object
prog_lang          42092 non-null object
pull_req_number    42092 non-null int64
num_commits        42092 non-null int64
dtypes: int64(2), object(3)
memory usage: 1.6+ MB

What is the type of a specific column???

In [8]:
type(cpr["num_commits"])

pandas.core.series.Series

A *serie* is a list, with one dimension, indexed. Each column of a dataframe is a series

Before moving ahead, we can use the types to filter some columns. 

Let's say we want only the columns that store `int`:

In [9]:
int_columns = cpr.dtypes[cpr.dtypes == "int64"].index
int_columns

Index(['pull_req_number', 'num_commits'], dtype='object')

Now... I just want to see these columns... **BOOM**

In [10]:
cpr[int_columns].head()

   pull_req_number  num_commits
0              122            1
1             3325            1
2             2128            2
3             2663            1
4             7901            1

### What about statistical information about my DataFrame?

`describe()` method provides a summary of numeric values in your dataset: mean, standard deviation, minimum, maximum, 1st quartile, 2nd quartile (median), 3rd quartile of the columns with numeric values. It also counts the number of variables in the dataset (are there missing variables?)

In [11]:
cpr.describe()

       pull_req_number   num_commits
count     42092.000000  42092.000000
mean       4452.145681      3.824242
std        6152.304478     20.760123
min           1.000000      1.000000
25%         628.000000      1.000000
50%        2007.000000      1.000000
75%        5534.250000      2.000000
max       38174.000000    385.000000

We can do it for a Series...

In [12]:
cpr["num_commits"].describe

<bound method NDFrame.describe of 0          1
1          1
2          2
3          1
4          1
5          1
6          1
7          3
8          1
9          2
10         1
11         1
12       115
13         1
14         1
15       250
16       250
17         1
18         1
19         1
20         5
21         1
22         1
23         1
24         1
25         2
26         1
27         1
28       250
29         1
        ...
42062      2
42063      1
42064      1
42065      1
42066      1
42067      7
42068      1
42069      1
42070      1
42071      3
42072      1
42073      1
42074      1
42075      1
42076      2
42077      8
42078      1
42079      1
42080      5
42081      1
42082      1
42083      4
42084      1
42085      1
42086      1
42087      1
42088      2
42089      1
42090      1
42091      2
Name: num_commits, Length: 42092, dtype: int64>

In [13]:
#LOOK at this with a non-numeric column
cpr.prog_lang.describe() #either way work.

count     42092
unique       17
top        ruby
freq       8147
Name: prog_lang, dtype: object

And we can get specific information per column

In [14]:
cpr.num_commits.median()

1.0

In [15]:
cpr.num_commits.mean()

3.8242421362729258

In [16]:
cpr.num_commits.std()

20.76012335707578

### --------------####
### Playing with the data: sorting

We can sort our data easily using pandas.

In this example, sorting by Programming Language

In [17]:
cpr.sort_values("num_commits", ascending=False).head(10)

            user      project_name   prog_lang  pull_req_number  num_commits
38987  user34165          three.js  javascript             7832          385
705      user640         cocos2d-x         C++             6866          364
7335    user6426             redis           C             3506          315
19587  user17126           jenkins        java             2718          307
35826  user31347             redis           C             3230          290
13300  user11672         cocos2d-x         C++            16576          281
3601    user3214          three.js  javascript             7808          277
13873  user12167  spring-framework        java              642          273
26360  user23077             Faker         php              660          259
18632  user16293            libgdx        java              814          258

We can sort using *many columns*, by using a list (sort will happen from the first item to the last)

In [18]:
cpr.sort_values(["prog_lang", "project_name", "num_commits"], ascending=False).head(10)

            user project_name   prog_lang  pull_req_number  num_commits
14351  user12556        winjs  typescript              678           11
40943  user35906        winjs  typescript             1609           10
35890  user31404        winjs  typescript              565            6
1800    user1614        winjs  typescript             1179            3
20245  user17684        winjs  typescript             1559            3
29167  user25562        winjs  typescript               30            3
4780    user4214        winjs  typescript               44            2
5142    user4533        winjs  typescript              185            2
7862    user6897        winjs  typescript             1515            2
32077  user28045        winjs  typescript              428            2

In [19]:
cpr.head(10)

     user    project_name   prog_lang  pull_req_number  num_commits
0   user1         php-src           C              122            1
1   user2     activeadmin        ruby             3325            1
2   user3   YouCompleteMe      python             2128            2
3   user4        requests      python             2663            1
4   user5         ipython      python             7901            1
5   user6  haste-compiler     haskell              407            1
6   user7         select2  javascript             1987            1
7   user8          django      python             8608            3
8   user9           folly         C++              206            1
9  user10          django      python             4745            2

If you want to keep the sorted version, you can use the parameter `inplace`:

In [20]:
cpr.sort_values(["prog_lang", "project_name", "num_commits"], ascending=False, inplace=True)

In [21]:
cpr.head(10)
#cpr = pandas.read_csv("commits_pr.csv") #--> to return to the original order

            user project_name   prog_lang  pull_req_number  num_commits
14351  user12556        winjs  typescript              678           11
40943  user35906        winjs  typescript             1609           10
35890  user31404        winjs  typescript              565            6
1800    user1614        winjs  typescript             1179            3
20245  user17684        winjs  typescript             1559            3
29167  user25562        winjs  typescript               30            3
4780    user4214        winjs  typescript               44            2
5142    user4533        winjs  typescript              185            2
7862    user6897        winjs  typescript             1515            2
32077  user28045        winjs  typescript              428            2

### Counting the occurences of variables

So, to count the occurrences in a column we have to select the column first, and use the method `value_counts()`

In [22]:
cpr.prog_lang.value_counts()

ruby            8147
javascript      7052
python          4092
php             4069
C++             2785
java            2596
C               2196
go              2103
coffeescript    2066
scala           1823
objective-c     1801
haskell          950
clojure          882
perl             663
erlang           500
typescript       343
Perl              24
Name: prog_lang, dtype: int64

But... I just want to know what are the languages out there. Is there a way?

*Always*

In [23]:
cpr["prog_lang"].unique()

array(['typescript', 'scala', 'ruby', 'python', 'php', 'perl',
       'objective-c', 'javascript', 'java', 'haskell', 'go', 'erlang',
       'coffeescript', 'clojure', 'Perl', 'C++', 'C'], dtype=object)

## OK! Let's do something else... Like, selecting columns and filtering data

Let's say that I just want to look at the columns programming language, project name and number of commits. 

I can select them and create a new DF

In [24]:
selected_columns = ["prog_lang", "project_name", "num_commits"]
my_subset = cpr[selected_columns]
my_subset.head()

        prog_lang project_name  num_commits
14351  typescript        winjs           11
40943  typescript        winjs           10
35890  typescript        winjs            6
1800   typescript        winjs            3
20245  typescript        winjs            3

What if now I want to filter those projects written in `C` language?

In [25]:
only_C = cpr[cpr["prog_lang"]=='C']
only_C.describe()

       pull_req_number  num_commits
count      2196.000000  2196.000000
mean       3340.718124     6.885246
std        3113.785559    31.142637
min           1.000000     1.000000
25%         704.750000     1.000000
50%        2427.000000     1.000000
75%        5143.500000     2.000000
max       13040.000000   315.000000

We can filter whatever we want:

In [26]:
single_commit = cpr[cpr["num_commits"] == 1]

We can create filters in variables, and use whenever we want, as well

In [27]:
one_commit = cpr["num_commits"]==1
language_C = cpr["prog_lang"]=="C"
multi_commit = cpr["num_commits"]==1

In [28]:
cpr[one_commit].head(10)

            user project_name   prog_lang  pull_req_number  num_commits
535      user491        winjs  typescript              106            1
2368    user2125        winjs  typescript             1610            1
3644    user3247        winjs  typescript              207            1
6174    user5419        winjs  typescript             1356            1
9288    user8154        winjs  typescript             1342            1
9851    user8644        winjs  typescript               31            1
14019  user12267        winjs  typescript             1596            1
17979  user15728        winjs  typescript               27            1
20726  user18101        winjs  typescript             1151            1
25046  user21934        winjs  typescript             1628            1

And... we can use OR (|) and AND(&) to play!

In [29]:
cpr[one_commit & language_C].head(10)

          user project_name prog_lang  pull_req_number  num_commits
1625  user1464    twemproxy         C              284            1
1696  user1526    twemproxy         C              224            1
2259  user2025    twemproxy         C              398            1
2522  user2268    twemproxy         C              387            1
3210  user2872    twemproxy         C              311            1
3946  user3515    twemproxy         C              366            1
4774  user4209    twemproxy         C              291            1
5802  user5103    twemproxy         C                3            1
7326  user6419    twemproxy         C               58            1
7811  user6850    twemproxy         C              217            1

#### What if we want the pull requests with more than one commit for the projects written in "C" and those with 2 commits for the projects written in "typescript"???

Let's do it!

In [30]:
#####

What if I wanted to convert number of commits into a feature by creating bands of values that we define:
* 1 commit = group 1
* 2 - 5 commits = group 2
* 6 - 20 commits = group 3
* > 20 = group 4

In [31]:
cpr.loc[one_commit, "group_commit"] = 1
# ...

In [32]:
cpr.describe()

       pull_req_number   num_commits  group_commit
count     42092.000000  42092.000000       29655.0
mean       4452.145681      3.824242           1.0
std        6152.304478     20.760123           0.0
min           1.000000      1.000000           1.0
25%         628.000000      1.000000           1.0
50%        2007.000000      1.000000           1.0
75%        5534.250000      2.000000           1.0
max       38174.000000    385.000000           1.0

### I challenge you:

What if: I wanted to know how the average of num_commits for those pull requests in group_commit 4???

### I challenge you (2):

Can you do that average per language?














### Some more...

In [33]:
cpr[cpr["prog_lang"] == "typescript"].quantile(0.75)

pull_req_number    8213.5
num_commits           2.0
group_commit          1.0
Name: 0.75, dtype: float64

In [34]:
for lang in cpr["prog_lang"].unique():
    print("Language %s: \t%0.3f"%(lang, cpr[cpr["prog_lang"]==lang]["num_commits"].median()))

Language typescript: 	1.000
Language scala: 	1.000
Language ruby: 	1.000
Language python: 	1.000
Language php: 	1.000
Language perl: 	1.000
Language objective-c: 	1.000
Language javascript: 	1.000
Language java: 	1.000
Language haskell: 	1.000
Language go: 	1.000
Language erlang: 	1.000
Language coffeescript: 	1.000
Language clojure: 	1.000
Language Perl: 	1.000
Language C++: 	1.000
Language C: 	1.000

### Can we play with graphics?